<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestaoFinacaPessoal</title>
    <link rel="manifest" href="~/manifest.json">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class=" @(ViewBag.SemContainer != null && ViewBag.SemContainer.ToLower() == "sim" ? "container-fluid" : "container" ) " id="container">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



    <script>
        //warning error success info
        var salvo = '@ViewBag.Salvo';
        var excluido = '@ViewBag.Excluido';
        var alterado = '@ViewBag.Alterado';
        var suspenso = '@ViewBag.Suspenso';
        var erro = '@ViewBag.Erro';

        var semContainer = '@ViewBag.SemContainer';

        if (salvo == 'True') {
            swal("Salvo com sucesso!", "", "success")
                .then((value) => {
                    window.location.href = window.location.href + "/../";
                });
        }

        if (excluido == 'True') {
            swal("Excluido com sucesso!", "", "success");
        }

        if (suspenso == 'True') {
            swal("Suspensa com sucesso!", "", "success");
        }

        if (erro != '') {
            swal("Erro!", decodeURIComponent(escape(erro)) , "error");
        }

        if (alterado == 'True') {
            swal("Alterado com sucesso!", "", "success")
                .then((value) => {
                    var caminho = window.location.href.split("/");

                    if (isNaN(caminho[caminho.length - 1])) {
                        window.location.href = window.location.href + "/../";
                    } else {
                        window.location.href = window.location.href + "/../../";
                    }
            });
        }
    </script>



    @RenderSection("Scripts", required: false)
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }


    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js')
                .then(function () {
                    console.log('service worker registered');
                })
                .catch(function () {
                    console.warn('service worker failed');
                });
        }
    </script>

</body>
</html>
