@model IEnumerable<GestaoFinancaPessoal.Models.Lancamento>
@{
    ViewData["Title"] = "Index";
    ViewBag.SemContainer = "Sim";
}


<link href="~/assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<h2 class="text-center">Lançamentos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Lançamento</a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Busca avançada
    </button>
</p>




@{await Html.RenderPartialAsync("VisualizarLancamentoFiltro", new VisualizarLancamentoViewModel());}



<div class="row col-12 ">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    Dt Pagt.
                </th>
                <th>
                    Dt Venc.
                </th>
                <th>
                    Tipo Lanç.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPago)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{DateTime data = DateTime.Now;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @item.DataPagamento.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @{
                            string css = "";
                            css = item.DataVencimento < data && item.DataPagamento >= data ? "text-danger" : "text-success";
                        }
                        <span class="@(css)">
                            @item.DataVencimento.ToString("dd/MM/yyyy")
                        </span>
                    </td>
                    <td>
                        @{
                            css = "";
                            if (item.TipoLancamento == TipoLancamento.DESPESA)
                            {
                                css = "text-danger";
                            }
                            else if (item.TipoLancamento == TipoLancamento.RECEITA)
                            {
                                css = "text-success";
                            }
                            else
                            {
                                css = "text-info";
                            }
                        }
                        <span class="@(css)">
                            @Html.DisplayFor(modelItem => item.TipoLancamento)
                        </span>
                    </td>
                    <td>
                        <span class="@(item.IsPago ? "text-success" : "text-danger")">
                            @(item.IsPago ? "Sim" : "Não")
                        </span>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @await Html.PartialAsync("_LancamentoButton")

@*@section Scripts {
    <script>
        if (temFiltro != "") {
            $('#collapseExample').collapse("show");
        }
    </script>

}*@
</div>


