@model DashBoardInicial
@{
    ViewData["Title"] = "Index";
}


<link href='~/calender/core/main.css' rel='stylesheet' />
<link href='~/calender/daygrid/main.css' rel='stylesheet' />
<link href='~/calender/timegrid/main.css' rel='stylesheet' />
<link href='~/calender/list/main.css' rel='stylesheet' />

<link rel="stylesheet" href="~/css/home/Index.css" />
<style>
    /*.mouseHover {
        cursor: pointer;
    }*/



    /*
    i wish this required CSS was better documented :(
    https://github.com/FezVrasta/popper.js/issues/674
    derived from this CSS on this page: https://popper.js.org/tooltip-examples.html
    */


    /*.conteudo-aprenda-curso.conteudo-aprenda-curso-impar:before{content: ""; width: 40px; height: 5px; position: absolute; top: -5px; right: -10.5%; transform: translateX(-50%);}
    .conteudo-aprenda-curso.conteudo-aprenda-curso-par:before{content: ""; width: 40px; height: 5px; position: absolute; top: -5px; left: -10.5%; transform: translateX(+50%);}
    .bullet-aprenda-curso { height: auto; width: auto; border-radius: 25px; top: -20px; position: absolute; left: 50%; transform: translateX(-50%); padding: 10px; }
    .bullet-aprenda-curso:before {content: ""; background-color: #C5CED5; width: 2px; position: absolute; top: 50px; height: 190px;  left: 50%; transform: translateX(-50%);}
    .conteudo-area-preta .bullet-aprenda-curso:before{background-color: #0AC5D4;}
    .item-conteudo-aprenda-curso.ultimo-item .bullet-aprenda-curso:before {content: "";  background-color: transparent; width: 0; position: absolute; top: 50px; height: 0;  left: 50%; transform: translateX(-50%);}
    .item-conteudo-aprenda-curso:last-of-type .bullet-aprenda-curso:before { background-color: transparent; }*/
    /*.conteudo-aprenda-curso.conteudo-aprenda-curso-impar:hover{ width: 60%; right: 316px; bottom: 60%;}
    .conteudo-aprenda-curso.conteudo-aprenda-curso-par:hover{width: 60%; left: 316px; bottom: 60%;}

    .item-conteudo-aprenda-curso:nth-child(odd) {flex-direction: row-reverse;}
    .conteudo-aprenda-curso:hover { height: auto; bottom: 0; position: relative; transform: translateY(-10%); padding: 30px 35px; border-top: none; border-radius: 10px !important; z-index: 1;}
    .conteudo-aprenda-curso:hover .descricao-box-secao-aprenda { display: block; }
    .conteudo-aprenda-curso:hover .conteudo-aprenda-curso-link { display: flex; }
    .conteudo-aprenda-curso:hover .tipo-box-secao-aprenda{display: none;}
    .conteudo-aprenda-curso:hover .box-secao-aprenda .sub-info-box-codigo-fonte-texto{padding: 0 25px;}
    .conteudo-aprenda-curso:hover .info-box-secao-aprenda{margin: 20px 0;}
    .conteudo-aprenda-curso:hover .box-secao-aprenda .info-box-secao-aprenda .info-box-codigo-fonte{ width: 190px; }
    .conteudo-aprenda-curso:hover .info-box-visualizacoes{margin-top: 0;}

    .conteudo-aprenda-curso:hover:after { content: ""; position: absolute; height: 150px; width: 100%; top: 100%; left: 0;background-color: transparent; z-index: -1;}
    .item-conteudo-aprenda-curso .conteudo-aprenda-curso:hover:before{background: transparent; height: calc(100% + 100px); top: 0; width: 65px; }
    .item-conteudo-aprenda-curso .conteudo-aprenda-curso-impar:hover:before{right: -95px;}
    .item-conteudo-aprenda-curso .conteudo-aprenda-curso-par:hover:before{left: -95px;}

    .conteudo-aprenda-curso.conteudo-aprenda-curso.conteudo-aprenda-curso-impar{border-radius: 10px 0  10px 10px;}
    .conteudo-aprenda-curso.conteudo-aprenda-curso.conteudo-aprenda-curso-par{border-radius: 0 10px 10px 10px;}*/

</style>

<section id="main-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="stat-widget-one">
                    @*fas fa-piggy-bank*@
                    <div class="stat-icon dib">
                        <i class="material-icons color-primary border-primary">account_balance</i>
                    </div>
                    <div class="stat-content dib">
                        <div class="stat-text">Saldo Atual </div>
                        <div class="stat-digit"> R<i class="fa fa-usd"></i> @Model.SaldoAtual.ToString("N2")</div>
                    </div>
                </div>
            </div>
        </div>

        @*fas fa-cart-arrow-down*@

        <div class="col-lg-4">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib">
                        <i class="material-icons color-success border-success">trending_up</i>
                    </div>
                    <div class="stat-content dib">
                        <div class="stat-text">Receita do Mês</div>
                        <div class="stat-digit"> R<i class="fa fa-usd"></i>@Model.TotalReceitaaMes.ToString("N2")</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib">
                        <i class="material-icons color-danger border-danger">trending_down</i>
                    </div>
                    <div class="stat-content dib">
                        <div class="stat-text">Despesa do Mês</div>
                        <div class="stat-digit"> R<i class="fa fa-usd"></i> @Model.TotalDespesaMes.ToString("N2")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div id='calendar-container'>
                    <div id='calendar'></div>
                </div>
            </div><!-- /# column -->
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-lg-6" ColunaDireita>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h1>Receita X Lancamento top 5</h1>
                        </div>
                        <div class="col-4 text-right">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-primary active" onclick="CarregarReceitaXLancamento()">
                                    <input class="form-check-input" type="radio" value="True" autocomplete="off" checked />
                                    <label class="form-check-label">Mensal</label>
                                </label>

                                <label class="btn btn-primary" onclick="CarregarReceitaXLancamento(false)">
                                    <input class="form-check-input" type="radio" value="False" autocomplete="off" />
                                    <label class="form-check-label">Diario</label>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="graph">
                    </div>
                    <div class="text-center" style="text-align:center" id="divLoadReceitaXLancamento">
                        <div class="circle" style="margin: auto;"></div>
                    </div>
                </div>
            </div>
        </div>

        @*Searacao das colunas*@
        <div class="col-12 col-lg-6" ColunaDireita>
            <div class="card">
                <div class="card-body">
                    <h1>Lançamentos Pendentes</h1>
                    <ul class="timeline" id="LancamentoPendente">
                        <li>
                            <div class="text-center" style="text-align:center">
                                <div class="circle" style="margin: auto;"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Conta[0].Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Conta[0].Descricao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Conta[0].Tipo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Conta[0].Saldo)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Conta)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Saldo)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1>Receita X Lancamento último ano</h1>
                    <div id="graphLine"></div>
                    <div class="text-center" style="text-align:center" id="divLoadReceitaXLancamentoGraphLine">
                        <div class="circle" style="margin: auto;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<partial name="_LancamentoButton" />


@section Scripts{
    <!-- jquery vendor -->
    <script src="~/assets/js/lib/jquery.min.js"></script>
    <script src="~/assets/js/lib/jquery.nanoscroller.min.js"></script>

    <script src="~/assets/js/lib/bootstrap.min.js"></script>

    @*<script src="~/assets/js/scripts.js"></script>*@

    @*calendario*@
    <!-- jquery vendor -->
    @*<script src="~/assets/js/lib/jquery.min.js"></script>
        <script src="~/assets/js/lib/jquery.nanoscroller.min.js"></script>*@
    @*<script src="~/assets/js/lib/menubar/sidebar.js"></script>*@
    @*<script src="~/assets/js/lib/preloader/pace.min.js"></script>*@
    @*<script src="~/assets/js/lib/bootstrap.min.js"></script>*@
    @*<script src="~/assets/js/scripts.js"></script>*@

    @*<script src="~/assets/js/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/assets/js/lib/moment/moment.js"></script>
        <script src="~/assets/js/lib/calendar/fullcalendar.min.js"></script>
        <script src="~/assets/js/lib/calendar/fullcalendar-init.js"></script>*@




    <script src='~/calender/core/main.js'></script>
    <script src='~/calender/core/locales-all.js'></script>
    <script src='~/calender/interaction/main.js'></script>
    <script src='~/calender/daygrid/main.js'></script>
    <script src='~/calender/timegrid/main.js'></script>
    <script src='~/calender/list/main.js'></script>
    @* <script src='https://fullcalendar.io/releases/fullcalendar/3.10.0/lib/moment.min.js'></script>
        <script src='https://fullcalendar.io/releases/fullcalendar/3.10.0/lib/jquery.min.js'></script>
        <script src='https://fullcalendar.io/releases/fullcalendar/3.10.0/fullcalendar.min.js'></script>*@



    <script src="~/js/DashBoard/index.js"></script>
    <script src="~/js/DashBoard/indexCalendario.js"></script>


}